<template>
    <div :class="[{flexStart: step===1}, 'wrapper']">
        <transition name="slide">
            <img src="../assets/png/256px-NASA_logo.png" alt="NASA-logo" v-if="step === 1">
        </transition>
        <transition name="fade">
            <NasaHeroImage v-if="step === 0"/>
        </transition>
        <Claim v-if="step === 0"/>
        <SearchInput
                v-model="searchValue"
                @input="handleInput"
                :dark="step === 1"
        />
        <div class="results" v-if="results && !loading && step === 1">
            <Item
                    v-for="item in results"
                    :item="item"
                    :key="item.data[0].nasa_id"
                    @click.native="handleModalOpen(item)"
            />
        </div>
        <div class="loader" v-if="step === 1 && loading === true"></div>
        <Modal v-if="modalOpen" :item="modalItem" @closeModal="modalOpen = false"/>
    </div>
</template>

<script>
    import axios from 'axios';
    import debounce from 'lodash.debounce';
    import Claim from '../components/Claim.vue';
    import SearchInput from '../components/SearchInput.vue';
    import Item from '../components/Item.vue';
    import NasaHeroImage from '../components/NasaHeroImage';
    import Modal from '../components/Modal.vue'

    const API = 'https://images-api.nasa.gov/search';
    let Nasa = {
            components: {
                NasaHeroImage,
                Claim,
                SearchInput,
                Item,
                Modal
            },
            name: 'nasa',
            data() {
                return {
                    modalOpen: false,
                    modalItem: null,
                    loading: false,
                    step: 0,
                    searchValue: '',
                    results: []
                }
            },
            methods: {
                handleModalOpen( item ) {
                    this.modalOpen = true;
                    this.modalItem = item;
                },
                handleInput: debounce(function () {
                    axios.get(`${API}?q=${this.searchValue}&media_type=image`)
                        .then(( response ) => {
                            this.results = response.data.collection.items;
                            this.loading = false;
                            this.step = 1;
                        })
                        .catch(( error ) => {
                            console.log(error);
                        });
                }, 500)
            }
        }
    ;

    export default Nasa;
</script>

<style lang="scss" scoped>
    .wrapper {
        margin: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &.flexStart {
            padding-top: 50px;
            justify-content: flex-start;

        }

        img {
            width: 180px;
            height: auto;
            padding-bottom: 50px;
        }

        .results {
            margin-top: 50px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;

            @media (min-width: 768px) {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }

        .loader {
            margin-top: 100px;
            display: inline-block;
            width: 64px;
            height: 64px;

            @media (min-width: 768px) {
                width: 90px;
                height: 90px;
            }
        }

        .loader::after {
            content: ' ';
            display: block;
            width: 46px;
            height: 46px;
            margin: 1px;
            border-radius: 50%;
            border: 5px solid #1e3d4a;
            border-color: #1e3d4a transparent #1e3d4a transparent;
            animation: loading 1.2s linear infinite;
        }

        @keyframes loading {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity .3s ease;
    }

    .fade-enter, .fade-leave-to {
        opacity: 0;
    }

    .slide-enter-active, .slide-leave-active {
        transition: margin-top .3s ease;
    }

    .slide-enter, .slide-leave-to {
        margin-top: -50px;
    }
</style>
