<template>
    <div class="iss">
        <h1>where is iss</h1>
    </div>
</template>

<script>
    let WhereIsIss = {
        name: 'WhereIsISS',
        data(){
            return{

            }
        }
    };
    export default WhereIsIss;
</script>

<style lang="scss" scoped>

</style>