<template>
    <div class="claim__wrapper">
        <div class="nasa_logo"></div>
        <div class="quote">"For the benefit of all."</div>
        <div class="label">Search in space</div>
    </div>
</template>

<script>

    let Claim = {
        name: 'Claim',
        props: {
            msg: String
        }
    };
    export default Claim;
</script>

<style scoped lang="scss">
    .claim__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .nasa_logo {
            width: 180px;
            height: 150px;
            background: url("../assets/png/256px-NASA_logo.png") no-repeat center;
            background-size: 180px 150px;
        }

        .quote {
            padding-top: 30px;
            display: flex;
            justify-content: center;
            width: 100%;
            font-weight: 800;
            font-size: 140%;
            font-style: italic;
            color: #fff;

            @media (max-width: 768px) {
                color: #000000;
            }
        }

        .label {
            font-family: Monserrat, sans-serif;
            color: #fff;
            text-align: center;
            margin: 50px 0;

            @media (max-width: 768px) {
                color: #000000;
            }
        }
    }

</style>
