<template>
    <div :style="style" class="item"></div>
</template>

<script>
    let Item = {
        name: 'Item',
        props: {
            item: {
                type: Object,
                required: true
            }
        },
        data() {
            return {
                photo: this.item.links[ 0 ].href,
                title: this.item.data[ 0 ].title,
            }
        },
        computed: {
            style() {
                return `background-image: url("${this.photo}")`;
            }
        }
    };

    export default Item;
</script>

<style lang="scss" scoped>
    .item {
        min-width: 25vw;
        height: 250px;
        background-size: cover;
        background-repeat: no-repeat;

        @media (max-width: 768px) {
            width: 40vw;
        }

    }
</style>
