<template>
    <div class="outer__wrapper">
        <div class="inner__wrapper">
            <div class="photo">
                <img :src="photo" alt="">
            </div>
            <div class="description">
                <h2 class="title">{{title}}</h2>
                <p class="description">
                    {{ description }}
                </p>
            </div>
        </div>
        <div class="close" @click="$emit('closeModal')"></div>
    </div>
</template>

<script>
    let Modal = {
        name: 'Modal',
        props: {
            item: {
                type: Object,
                required: true
            }
        },
        data() {
            return {
                photo: null,
                title: null,
                description: null
            }
        },
        mounted() {
            this.photo = this.item.links[ 0 ].href;
            this.title = this.item.data[ 0 ].title;
            this.description = this.item.data[ 0 ].description;
        }
    };

    export default Modal;
</script>

<style lang="scss" scoped>

    .outer__wrapper {
        background: #f6f6f6;
        max-width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;

        @media (min-width: 1024px) {
            max-width: 70%;
            height: 80%;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            box-shadow: 0 30px 30px -10px rgba(0, 0, 0, .3);
        }
    }

    .close {
        position: absolute;
        width: 30px;
        height: 30px;
        padding: 30px;
        right: 0;
        top: 0;
        cursor: pointer;

        &::before,
        &::after {
            position: absolute;
            top: 30px;
            right: 20px;
            content: ' ';
            width: 20px;
            height: 2px;
            background: #000;
            display: block;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }

    .inner__wrapper {
        display: flex;
        height: 100%;
        padding: 50px;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @media (min-width: 1024px) {
            flex-direction: row;

            .photo {
                max-width: 60%;
                margin-right: 20px;

            }
        }
    }

    .photo {
        width: 100%;
        height: auto;
        background: transparent;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .description {
        color: #333;
        overflow: auto;
    }


</style>
