<template>
    <div class="hero__image"/>
</template>

<script>
    export default {
        name: 'NasaHeroImage'
    }
</script>

<style scoped>
    .hero__image {
        position: fixed;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background: url("../assets/images/launchMUOS4_deep.jpg") no-repeat, center;
        background-size: cover;
    }

</style>
