<template>
    <div class="search__wrapper">
        <input
                id="search"
                name="search"
                :class="{ dark: dark }"
                :value="value"
                @input="handleChange"
        />
    </div>
</template>

<script>
    let SearchInput = {
        name: 'SearchInput',
        props: {
            value: {
                type: String,
                required: true
            },
            dark: {
                type: Boolean,
                default: false
            }
        },
        data() {
            return {}
        },
        methods: {
            handleChange( e ) {
                this.$emit('input', e.target.value);
            }
        }
    };
    export default SearchInput;
</script>

<style scoped lang="scss">
    @import "../assets/scss/variables";

    .search__wrapper {
        padding: 10px;
        display: flex;
        flex-direction: column;
        width: 250px;

        input {
            color: #fff;
            text-align: center;
            font-size: 18px;
            font-weight: 400;
            height: 30px;
            border: 0;
            border-bottom: 1px solid #fff;
            background: none;
            transition: box-shadow .3s ease-out;

            @media (max-width: 768px) {
                color: #000000;
                border-bottom: 1px solid #000000;
            }

            &:focus {
                outline: none;
                box-shadow: 0 5px 20px -8px rgba(255, 255, 255, .5);

                @media (max-width: 768px) {
                    color: #000000;
                }
            }

        }

        .dark {
            color: $primary-color;
            border-bottom-color: $primary-color;
        }

        .dark:focus {
            box-shadow: 0 5px 20px -8px rgba($primary-color, .3);
        }
    }
</style>
