<template>
    <div class="app">
        <div class="nav">
            <!--<router-link to="/">Nasa</router-link>-->
            <!--<router-link to="/whereIsISS">WhereIsISS</router-link>-->
        </div>
        <router-view/>
    </div>
</template>

<style lang="scss">
    @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,600i" rel="stylesheet"');

    * {
        box-sizing: border-box;
    }

    body {
        font-family: Montserrat, sans-serif;
        margin: 0;
    }

</style>
